blanco = white
colorNegro = black
h1, h2, h3, h4, h5, h6
	margin 0
* 
	box-sizing border-box
.header 
	background-color #2e8ece
	.nav .ul 
		padding 0
		margin 0
		padding 5px + 5px 0
		.list
			padding 6.2px + 6.2px 5px
			display inline
			font-size 22px
			color blanco
			cursor pointer
			&:hover 
				background-color colorNegro
		.select
			background-color colorNegro

.bgProfile 
	background-image url('../img/bg.png');
	background-size cover
	height auto
	text-align center
	padding 10px 0
	.figure 
		img 
			display block
			width 250px
			margin 0 auto
			border-radius 50%
			border 10px solid white

.section
	.miheader
		background-color #c0392b
		padding 1px
		margin 11px 0
		.title 
			color white
			i, span
				font-size 22px
				padding 0 5px
				color white
				
.galeria 
	.figure
		img 
			width 100%

input, textarea, select
	margin 5px 0